<% content_for :title do %>Nouveau commentaire<% end %> 
<% content_for :head do %>
  <%= javascript_include_tag 'comment' %>
  <% javascript_tag do %>
    $(document).ready(function(){
      var name = $('#<%= @captcha.fields[:name] %>'); 
      var comment = $('#<%= @captcha.fields[:text] %>'); 
      name.val('<%= @name %>');
      setupForm(name, comment);
    });
  <% end %>  
<% end %>

<div class="enter_comment">
    <% form_tag :controller => 'comment', :action => 'add_comment', :id => @post.id do %>
      <%= raw negative_captcha(@captcha) %>
      <%= negative_text_field_tag @captcha, :name %><br/><br/>
      <%= negative_text_area_tag @captcha, :text, :rows => 8, :cols => 70 %><br/><br/>
      <%= submit_tag 'Soumettre' %>
    <% end %>
</div>