<% content_for :head do %><%= stylesheet_link_tag 'scaffold' %><% end %>
<h1>Listing videos</h1>

<table class="videos">
  <tr>
    <th>Nom</th>
    <th>Description</th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%=h video.name %></td>
    <td><%=h video.description %></td>
    <td><%= link_to 'Afficher', video %></td>
    <td><%= link_to 'Modifier', edit_video_path(video) %></td>
    <td><%= link_to 'Supprimer', video, :confirm => 'Êtes-vous sûr?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau video', new_video_path %>