<% content_for :head do %><%= stylesheet_link_tag 'scaffold' %><% end %>
<p>
  <b>Name:</b>
  <%=h @video.name %>
</p>

<p>
  <b>embed:</b>
  <textarea><%= @video.embed_520 %></textarea>
</p>

<p>
  <b>Description:</b>
  <%=h @video.description %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>