<% content_for :head do %><%= stylesheet_link_tag 'scaffold' %><% end %>
<p>
  <b>Nom:</b>
  <%=h @video.name %>
</p>

<p>
  <b>embed:</b>
  <%= @video.embed_at_size(520) %>
</p>

<p>
  <b>Description:</b>
  <%=h @video.description %>
</p>


<%= link_to 'Modifier', edit_video_path(@video) %> |
<%= link_to 'Retour à la liste', videos_path %>