Super blog parkour tu va voir ca va etre cool
<% if !@categories.blank? %>
  <% for cat in @categories %>
    <%= cat.title %>
  <% end %>
<% else %>

<% end %>


<% if !@posts.blank? %>
  <% for post in @posts %>
    <%= post.title %>
    <%= post.published_at %> - <% post.excerpt %>
    <a href="<%= post.url %>" rel="bookmark" title="Permanent Link to <%= post.title %>!" class="title"><%=post.title %></a>
  <% end %>
<% else %>

<% end %>

