<% content_for :title do %>Mange ton pied garde l'autre pour tracer<% end %> 
<% paginated_section(@posts, :next_label => '>>', :previous_label => '<<', :separator => ' | ') do %>
  <div class="middle">
    <% if !@posts.blank? %>
      <% for post in @posts %>
        <div class="post">
          <h3><%= post.title %><span><%= post.published_at %></span></h3>
          <div class="body"><%= post.body %></div>
          <p class="comment"><a href="<%= post.url %>" rel="bookmark" title="<%= post.title %>" class="title"><%= post.comments.size  %> commentaire<%= post.comments.size > 1 ? 's' : '' %></a></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="rightmenu">
    <div class="last-video">
      <div class="container"><%= @latest_video.small_embed %></div>
    </div>
    <div class="last-picture">
        <img src="<%= @latest_pic.amazon_url %>" />
    </div>
    <div class="archive">
      <h3>Archives</h3>
      <ul>
        <% @categories.each do |cat| %>
          <li><%= link_to cat.title, category_path(:slug => cat.slug) %></li> 
        <% end %>
      </ul>
    </div>
    
  </div>
  <div class="clear"></div>
<% end %>


