<% content_for :title do %>Mange ton pied garde l'autre pour tracer<% end %> 
<div class="middle">
  <% if !@posts.blank? %>
    <% for post in @posts %>
      <div class="post">
        <h3><%= post.title %><span><%= post.published_at %></span></h3>
        <div class="body"><%= post.body %></div>
        <p><a href="<%= post.url %>" rel="bookmark" title="Allez-y" class="title"><%= post.comments.size  %> commentaire<%= post.comments.size > 1 ? 's' : '' %></a></p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="rightmenu">
  <div class="last-video">
    <%= @latest_video.small_embed %>
    <span><%= @latest_video.description %></span>
  </div>
  <div class="last-picture">
    Derniere photo 
  </div>
  <div class="calendrier">Calendrier des activites</div>
  <div class="archive">
    archives
  <% for category in @categories %>
    <%= category.title %> 
  <% end %>
  </div>
</div>
<div class="clear"></div>

