<% content_for :title do %>Album de photos<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'galleria-1.2.8.min' %>
  
  <script type="text/javascript">
    Galleria.loadTheme('/javascripts/themes/classic/galleria.classic.min.js');
    Galleria.configure({
      transition: 'fade'
    });
    $(document).ready(function(){
        $('.galleria').each(function(i, e){
          Galleria.run('#galleria' + i);
        })    
    });
  </script>
<% end %>
<% paginated_section(@albums, :next_label => '>>', :previous_label => '<<', :separator => ' | ') do %>
  <% @albums.each_with_index do |album, i| %>
    <h2 style="text-align:center"><%= album.name %></h2>
    <div id="galleria<%= i %>" class="carousel album galleria">
        <% album.images.each do |img| %>
          <img src="<%= img.amazon_url %>" alt="<%= img.description %>" title="<%= img.title %>" data-title="<%= img.title %>" data-description="<%= img.description %>">
        <% end%>
    </div>
  <% end %>
<% end %>
