<% content_for :title do %>Album de photos<% end %>
<% content_for :head do %>
  <%= javascript_include_tag 'cloud-carousel.1.0.4.min' %>
  <script type="text/javascript">
    $(document).ready(function(){    
      $(".carousel").CloudCarousel({     
          xPos: 328,
          yPos: 132,
          buttonLeft: $("#left-but"),
          buttonRight: $("#right-but"),
          altBox: $("#alt-text"),
          titleBox: $("#title-text")
      });
    });
  </script>
<% end %>
<% paginated_section(@albums, :next_label => '>>', :previous_label => '<<', :separator => ' | ') do %>
  <% @albums.each do |album| %>
<div class="carousel album">
  <div>
    <div style="float:left;"><input id="left-but" style="font-size:20px;font-weight:bold;" type="button" value="<<" /></div>
    <div style="float:right;"><input id="right-but" style="font-size:20px;font-weight:bold;" type="button" value=">>" /></div>
    <div class="clear"></div>
  </div>
  <h2><%= album.name %></h2>
  <div style="text-align:left;">
    <h3 id="title-text"></h3>
    <p id="alt-text"></p>
  </div>
  
  <% album.images.each do |img| %>
  <img class="cloudcarousel" width="200" height="200" alt="<%= img.description %>" title="<%= img.title %>" src="<%= img.amazon_url %>" />
  <% end%>
</div>
  <% end %>
<% end %>
