<% content_for :title do %><%= @post.title %><% end %> 
<% 
  toptions = "width = 800, height = 450, type = iframe, title = Nouveau commentaire, layout = dashboard" 
  toptions << ", ondisplay = transparentIframe();"
%>
<% content_for :head do %>
  <%= javascript_include_tag 'http://gettopup.com/releases/latest/top_up-min.js' %>
  <% javascript_tag do %>
    $(document).ready(function(){
      TopUp.init();    
    });
    function transparentIframe(){
      $('iframe').attr("allowtransparency","true");
    }
    function close_comment_form(){
      TopUp.close();
      var t=setTimeout("window.location.reload(true);", 1500);
    }
  <% end %>
<% end %>
<div class="post details">
  <h2><%= @post.title %></h2>
  <div><%= @post.body %></div>
  <span class="date"><%= @post.published_at %></span>
  <div class="replymain">
    <%= link_to "Répondre", new_comment_path({:slug => @post.slug }), :toptions => toptions %>
  </div>
</div>
<div class="comments">
  <ul>
  <% for c in @post.comments.select{|c| c.is_root?} %>
      <li>
        <div class="header">
          <div class="username"><%= c.user %></div>
          <div class="reply">
            <%= link_to "Répondre", reply_to_path(:id => c.id), :toptions => toptions %>
          </div>
          <div class="date"><%= friendly_display c.created_at %></div>
          <br class="clear" />
        </div>
        <div class="comment"><%= format_comment c.text %></div>
        <% unless c.replies.empty? %>
        <div class="replies">
          <ul>
            <% c.replies.each do |r| %>
              <li>
                <div class="header">
                  <div class="username"><%= r.user %></div>
                  <div class="date"><%= friendly_display r.created_at %></div>
                  <br class="clear" />
                </div>
                <div class="comment"><%= format_comment r.text %></div>
              </li>
            <% end %>
          </ul> 
        </div>
      <% end %>
      </li>
  <%end%>
  </ul>
</div>


