<% content_for :title do %><%= @post.title %><% end %> 
<div class="post details">
  <h1><%= @post.title %><span><%= @post.published_at %></span></h1>
  <p><%= @post.body %></p>
</div>
<hr>
<span>Commentaires</span>
<% for c in @post.comments.select{|c| c.is_root?} %>
  <ul class="comment">
    <li><span><b><%=c.user%>:</b> <%= c.text %></span></li>
    <% unless c.replies.empty? %>
      <ul class="reply">
      <% c.replies.each do |r| %>
        <li><li><span><b><%=r.user%>:</b> <%= r.text %></span></li></li>
      <% end %>
      </ul>
    <% end %>
  </ul>
<%end%>
<p>Insert your comment here:</p>
<% form_tag :controller => 'post', :action => 'add_comment', :id => @post.id do %>
  Name: <input type="text" name="name"/><br />
  Comment : <textarea name="comment" ></textarea><br /><br />
  <input type="submit" name="Add" id="Add">
<% end %>


