<% content_for :title do %><%= @post.title %><% end %> 
<% content_for :head do %>
  <%= stylesheet_link_tag 'thickbox' %>
  <%= javascript_include_tag 'jquery-1.4.3.min' %>
  <%= javascript_include_tag 'thickbox-compressed' %>
<% end %>
<div class="post details">
  <h1><%= @post.title %><span><%= @post.published_at %></span></h1>
  <p><%= @post.body %></p>
  <div class="replymain">
    <%= link_to "Répondre", { :controller => 'comment', :action => 'new', :slug => @post.slug, 
      :KeepThis => 'true', :TB_iframe => 'true', :height => 350, :width => 680 }, 
      :class => 'thickbox' %>
  </div>
</div>
<hr>
<div class="comments">
  <ul>
  <% for c in @post.comments.select{|c| c.is_root?} %>
      <li>
        <div class="header">
          <div class="username"><%= c.user %>:</div>
          <div class="reply">
            <%= link_to "Répondre", { :controller => 'comment', :action => 'reply', :id => c.id, 
              :KeepThis => 'true', :TB_iframe => 'true', :height => 350, :width => 680 }, 
              :class => 'thickbox' %>
          </div>
          <div class="date"><%= c.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
          <br class="clear" />
        </div>
        <div class="comment"><p><%= c.text %></p></div>
        <% unless c.replies.empty? %>
        <div class="replies">
          <ul>
            <% c.replies.each do |r| %>
              <li><span><b><%=r.user%>:</b> <%= r.text %></span></li>
            <% end %>
          </ul> 
        </div>
      <% end %>
      </li>
  <%end%>
  </ul>
</div>


