<% content_for :title do %><%= @post.title %><% end %> 
<% content_for :head do %>
  <%= stylesheet_link_tag 'thickbox' %>
  <%= javascript_include_tag 'jquery-1.4.3.min' %>
  <%= javascript_include_tag 'thickbox-compressed' %>
  <script type="text/javascript">
    function close_comment_form(){
      tb_remove();
      var t=setTimeout("window.location.reload(true);",1500);
    }
    
  </script>
<% end %>
<div class="post details">
  <h1><%= @post.title %><span><%= @post.published_at %></span></h1>
  <p><%= @post.body %></p>
  <div class="replymain">
    <%= link_to "Répondre", new_comment_path({:slug => @post.slug, :KeepThis => 'true', :TB_iframe => 'true', :height => 350, :width => 680 }), 
      :class => 'thickbox' %>
  </div>
</div>
<hr>
<div class="comments">
  <ul>
  <% for c in @post.comments.select{|c| c.is_root?} %>
      <li>
        <div class="header">
          <div class="username"><%= c.user %></div>
          <div class="reply">
            <%= link_to "Répondre", { :controller => 'comment', :action => 'reply', :id => c.id, 
              :KeepThis => 'true', :TB_iframe => 'true', :height => 350, :width => 680 }, 
              :class => 'thickbox' %>
          </div>
          <div class="date"><%= c.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
          <br class="clear" />
        </div>
        <div class="comment"><%= c.text %></div>
        <% unless c.replies.empty? %>
        <div class="replies">
          <ul>
            <% c.replies.each do |r| %>
              <li>
                <div class="header">
                  <div class="username"><%= r.user %></div>
                  <div class="date"><%= r.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
                  <br class="clear" />
                </div>
                <div class="comment"><%= r.text %></div>
              </li>
            <% end %>
          </ul> 
        </div>
      <% end %>
      </li>
  <%end%>
  </ul>
</div>


