<% content_for :title do %><%= @post.title %><% end %> 
<div class="post details">
  <h1><%= @post.title %><span><%= @post.published_at %></span></h1>
  <p><%= @post.body %></p>
</div>
<hr>
<div class="comments">
  <p>Commentaires</p>
  <% for c in @post.comments.select{|c| c.is_root?} %>
    <ul>
      <li><span><b><%=c.user%>:</b> <%= c.text %></span></li>
      <% unless c.replies.empty? %>
        <ul class="replies">
        <% c.replies.each do |r| %>
          <li><li><span><b><%=r.user%>:</b> <%= r.text %></span></li></li>
        <% end %>
        </ul>
      <% end %>
    </ul>
  <%end%>
  <% form_tag :controller => 'post', :action => 'add_comment', :id => @post.id do %>
    Nom: <input type="text" name="name" /><br /><br/>
    Commentaire: <textarea name="comment" cols="50" rows="5"></textarea><br /><br />
    <input type="submit" name="Add" id="Add">
  <% end %>
</div>


