<% content_for :title do %><%= @post.title %><% end %> 
<div class="post details">
  <h1><%= @post.title %><span><%= @post.published_at %></span></h1>
  <p><%= @post.body %></p>
</div>
<hr>
<span>Commentaires</span>
<% @post.comments.each do |c|%>
  <div class="comment">
    <p><b><%=c.user%>:</b><%= c.text %></p>
  </div>
<%end%>
<p>Insert your comment here:</p>
<% form_tag :controller => 'post', :action => 'add_comment', :id => @post.id do %>
  Name: <input type="text" name="name"/><br />
  Comment : <textarea name="comment" ></textarea><br /><br />
  <input type="submit" name="Add" id="Add">
<% end %>


