<h1>Édition d'une image</h1>

<% form_for(@image,:html =>{:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :titre %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 50, :rows => 10 %>
  </p>
  <p>
    <%= f.label :fichier %><br />
    <%= file_field 'upload', 'datafile' %>
  </p>
  <br />
  <p>
    <%= f.submit 'Mettre à jour' %> 
  </p>
<% end %>
<br />
<%= link_to 'Afficher', @image %> |  
<%= link_to 'Retour à la liste', images_path %>