<h1>Liste d'images</h1>

<table>
  <tr>
    <th>Nom</th>
  </tr>
<% @images.each do |image| %>
  <tr>
    <td><%=h image.name %></td>
    <td><%= link_to 'Afficher', image %> &nbsp; <%= link_to 'Modifier', edit_image_path(image) %> &nbsp; <%= link_to 'Supprimer', image, :confirm => 'Êtes-vous sûr?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Nouvelle image', new_image_path %>