<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <meta name="description" content="Le Training Crew a été créé à la base pour offrir des entraînements axés sur la méthode naturelle pour le Parkour. Nous utilisons notre environnement ainsi que notre corps pour améliorer notre forme physique et nos compétences pour le Parkour. Nous nous entraînons de façon régulière à chaque semaine. Les entraînements sont offert à tout ceux et celles qui veulent s’entraîner sérieusement soit dans le but de développer une meilleure forme physique ou pour améliorer leurs capacités à se déplacer lors de la pratique du Parkour." />
	  <meta name="keywords" content="parkour, montreal, training crew, entrainement" />
	  <title>Training Crew - <%= yield :title %> </title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "style" %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	  <%= yield :head %>
  </head>
  <body>
      <img src="/images/fond3.jpg" class="bg" />
      <h1 class="logo">
      <% link_to root_path do %>
        <%= image_tag 'TRAING-CREW.png', :alt => 'Training Crew - Entrainements de parkour à Montréal', :title => 'Training Crew - Entrainements de parkour à Montréal'  %>
      <% end %>
      </h1>
      <div class="header">
        <div class="mainmenu">
          <ul>
            <li><% link_to category_path(:slug => 'entrainements') do %><span>Entrainements</span><% end  %></li>
            <li><% link_to :controller => 'videos', :action => 'list' do %><span>Vidéos</span><% end %></li>
            <li><% link_to display_album_path do %><span>Photos</span><% end %></li>
            <li><% link_to resume_path do %><span>Qui sommes-nous</span><% end %></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
      <div class="footer"><span>Training Crew &copy; 2011</span></div>
  </body>
</html>
