<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title><%= yield :title %> - Training Crew</title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag 'jquery-1.4.3.min' %>
	  <%= yield :head %>
  </head>
  <body>
      <div class="logo">
        <% link_to :controller => 'home', :action => 'index' do %>
          <%= image_tag 'header.jpg', :alt => 'logo'  %>
        <% end %></div>
      <div class="header">
        <div class="mainmenu">
          <ul>
            <li><% link_to category_path(:slug => 'entrainements') do %><span>Entrainements</span><% end  %></li>
            <li><% link_to :controller => 'videos', :action => 'list' do %><span>Vidéos</span><% end %></li>
            <li><% link_to display_album_path do %><span>Photos</span><% end %></li>
            <li><% link_to resume_path do %><span>Qui sommes-nous</span><% end %></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
      <div class="footer"></div>
  </body>
</html>
